{% extends "base.html" %}

{% block header %}
<style>
.len
{
    width: 70%;
}
.dix1
{
    position: fixed;
    top:70px;
    left:300px;
}
.dix2
{
    position: fixed;
    top:310px;
    left:320px;
}

.one
{
    display: flex;
}
</style>
<style>
.leftjianju
{
    padding-left: 20px;
}
</style>

<style>
.daohanglan
{
    padding: 12px 300px;
}
</style>

<style>
.daohanglan1
{
    padding-left: 20px;
}
</style>

<style>
.daohanglan2
{
    padding-left: 230px;
}
</style>
<style>
.daohanglan3
{
    padding-left: 40px;
}
</style>
<style>
.daohanglan4
{
    padding-left: 247px;
}
</style>

<style>
.daohanglan5
{
    padding-right: 10px;
}
</style>

<style>
.border {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0px;
}
</style>

{% endblock %}

 {% block title %}
    <!-- TODO: 主页设计 在 base 基础之上 要有选择的页面-->
    <!-- 直接访问默认的就可以看到主页 -->

 {% endblock %}
 {% block contents %}
 <!-- {% for id,name,desc,count in questionnaires %} -->
    <!-- <div class="card shadow mx-auto mb-2 mh-2 text-center" style="width: 24rem;height: auto;">
        <img src="..." class="card-img-top" alt="..."> -->
        <!-- <div class="card-body"> -->
            <!-- <h4 class="card-title">{{ name }} (#{{ id }})</h5> -->
            <!-- <p class="card-text">{{ desc }}</p> -->
            <!-- <div class="mt-5 align-text-bottom text-muted">{{ count }}</div> -->
            <!-- <a href="/questionnaire/{{ id }}" class="btn btn-primary stretched-link" style="width: 12rem;">开始填写</a> -->
        <!-- </div> -->
      <!-- </div>  -->
 <!-- {% endfor %} -->
 <body>


    <div class="navbar navbar-expand-sm bg-light len">
        <div class="container one top">
            <ul class="navbar-nav">
                <h1 class = "text-primary">教到</h1>
                <h1 class = "text-info leftjianju">JIAODAO</h1>
            </ul>
        </div>
    </div>
    <br>
    <br>


    <div class="card" style = "width:auto">
        <div class="card-body">
            <div class = "container daohanglan1">
                <nav class="navbar navbar-expand navbar-dark">
                    <form class = "one" action="/action_page.php">
                    <input class="form-control daohanglan" type="text">
                    <button class="btn btn-primary" type="submit">搜索</button>
                    </form>
                </nav>
            </div>
            <br>
    
    
            <div class = "one">
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">城市</button>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">苏州</button>
                </div>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">南京</button>
                </div>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">上海</button>
                </div>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">北京</button>
                </div>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">无锡</button>
                </div>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">郑州</button>
                </div>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">深圳</button>
                </div>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">厦门</button>
                </div>
                <div id="demo" class="collapse">
                    <button type="button" class="btn btn-outline-primary">杭州</button>
                </div>
            </div>
            <br>
            <br>
            <div class = "one">
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo1">学科</button>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">语文</button>
                </div>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">数学</button>
                </div>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">英语</button>
                </div>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">物理</button>
                </div>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">化学</button>
                </div>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">生物</button>
                </div>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">历史</button>
                </div>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">政治</button>
                </div>
                <div id="demo1" class="collapse">
                    <button type="button" class="btn btn-outline-primary">地理</button>
                </div>
                
            </div>
            <br>
            <br>
            <div class="one">
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo2">薪资</button>
                <div id="demo2" class="collapse">
                    <p>薪资范围</p>
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="下限" name="lowest">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="上限" name="highest">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div>
                <button type="button" class="btn btn-outline-secondary float-end">按薪资排序</button>
            </div>
        </div>
    </div>

    

    <div class="card mt-3" style = "width:925px">
        <div class="card-body">
            <a href="#">精选职位</a>
            <a href="#">最新职位</a>
        </div>
    </div>
    <br>
    <div class="card mt-3" style = "width:455px">
        <div class="card-body">
            <div class = "container one">
                <h4 class = "">{{stu_list1.id}}</h4>
                <p class="text-success daohanglan2">100-200/h</p>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary">{{stu_list1.subject}}</button>
                <button type="button" class="btn btn-outline-secondary">{{stu_list1.w_sex}}</button>
                <button type="button" class="btn btn-outline-secondary">{{stu_list1.grade}}</button>
                <button type="button" class="btn btn-outline-secondary">周 {{stu_list1.w_time}}</button>
            </div>
            <div class = "container mt-3 one">
                <span class="border border-dark rounded-circle"></span>
                <div>
                    <p class="daohanglan1"><a href="/message/{{stu_list1.id}}/">{{stu_list1.name}}</a></p>
                    <p class="daohanglan1 text-black-50">{{stu_list1.selfDesc}}</p>
                    <p class="text-black-50 daohanglan2">{{stu_list1.address}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3 ms-3" style = "width:455px">
        <div class="card-body">
            <div class = "container one">
                <h4 class = "">{{stu_list2.id}}</h4>
                <p class="text-success daohanglan2">100-200/h</p>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary">{{stu_list2.subject}}</button>
                <button type="button" class="btn btn-outline-secondary">{{stu_list2.w_sex}}</button>
                <button type="button" class="btn btn-outline-secondary">{{stu_list2.grade}}</button>
                <button type="button" class="btn btn-outline-secondary">周 {{stu_list2.w_time}}</button>
            </div>
            <div class = "container mt-3 one">
                <span class="border border-dark rounded-circle"></span>
                <div>
                    <p class="daohanglan1"><a href="/message/{{stu_list2.id}}/">{{stu_list2.name}}</a></p>
                    <p class="daohanglan1 text-black-50">{{stu_list2.selfDesc}}</p>
                    <p class="text-black-50 daohanglan2">{{stu_list2.address}}</p>
                </div>
            </div>
        </div>
    </div>
<div>
    <div class="container ms-5 mb-3 dix1">
        <div class="card float-md-end">
            <div class="card-body">
                <div class = "container mt-3 one">
                    <span class="border border-dark rounded-circle"></span>
                    <div>
                        <p class="daohanglan1">姓名</p>
                        <div class="one">
                            <p class="daohanglan1 text-black-50">年龄</p>
                            <p class="daohanglan3 text-black-50">学校</p>
                            <p class="daohanglan3 text-black-50">专业</p>
                            <p class="daohanglan3 text-black-50">年级</p>
                        </div>
                    </div>
                </div>
                <div class="container mt-3 one">
                    <div class="card px-3 ms-2">
                        <div class="card-body">0</div>
                        <div>已投递</div>
                    </div>
                    <div class="card px-3 ms-5">
                        <div class="card-body">0</div>
                        <div>在沟通</div>
                    </div>
                    <div class="card px-3 ms-5">
                        <div class="card-body">0</div>
                        <div>已完成</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container ms-6 mb-3 daohanglan5 dix2">
        <div class="card float-md-end">
            <div class="card-body mb-3 ">
                <div class="container mb-3">
                    <h4>资料管理<h4>
                </div>
                <div class="d-grid gap-3 one mb-4">
                    <button type="button" class="btn btn-outline-info btn-block daohanglan4">学历认证</button>
                </div>

                <div class="d-grid gap-3 one mb-4">
                    <a href="{% url 'selfForm' %}"><button type="button" class="btn btn-outline-info btn-block daohanglan4"> 简历填写</button></a>
                </div>

                <div class="d-grid gap-3 one mb-4">
                    <button type="button" class="btn btn-outline-info btn-block daohanglan4">空闲时间</button>  
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}