{% extends "base.html" %}

{% block header %}
{% endblock %}

 {% block title %}
    <!-- TODO: 主页设计 在 base 基础之上 要有选择的页面-->
    <!-- 直接访问默认的就可以看到主页 -->
 {% endblock %}
 {% block contents %}
 <!-- {% for id,name,desc,count in questionnaires %} -->
    <!-- <div class="card shadow mx-auto mb-2 mh-2 text-center" style="width: 24rem;height: auto;">
        <img src="..." class="card-img-top" alt="..."> -->
        <!-- <div class="card-body"> -->
            <!-- <h4 class="card-title">{{ name }} (#{{ id }})</h5> -->
            <!-- <p class="card-text">{{ desc }}</p> -->
            <!-- <div class="mt-5 align-text-bottom text-muted">{{ count }}</div> -->
            <!-- <a href="/questionnaire/{{ id }}" class="btn btn-primary stretched-link" style="width: 12rem;">开始填写</a> -->
        <!-- </div> -->
      <!-- </div>  -->
 <!-- {% endfor %} -->

{% endblock %}