{% extends "base.html" %}

{% block caption %}提交成功{% endblock %}

{% block header %}

{% endblock %}

{% block page %}
<div class="shadow alert alert-success text-center mx-auto mt-4" style="width: 80%" role="alert">
    <i class="bi bi-check-circle min-vw-100 min-vh-100" style="font-size: 5rem; color: rgb(26, 118, 0);"></i>
    <h1 class="alert-heading font-weight-bold" style="color: rgb(26, 118, 0);">提交成功</h1>
    <br>
    <h1 class="alert-heading font-weight-bold" style="color: rgb(26, 118, 0);"><a href="{% url 'index' %}">返回</a></h1>
    <hr>
</div>


{% endblock %}
